<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table border="1">
    <thead>
    <tr>
        <th>序号</th>
        <th>id</th>
        <th>姓名</th>
        <th>作品</th>
        <th>操作</th>
    </tr>
    </thead>
    <tbody>
    {% for author in all_author %}
        <tr>
            <td>{{ forloop.counter }}</td>
            <td>{{ author.id }}</td>
            <td>{{ author.name }}</td>
            <td>
                {% for book in author.books.all %}
                    {{ book.name }},
                {% endfor %}
            </td>
            <td>
                <a href="/author_del/?pk={{ author.id }}">删除</a>
                <a href="/author_edit/?pk={{ author.id }}">编辑</a>
            </td>
        </tr>
    {% endfor %}

    </tbody>
</table>
</body>
</html>