<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table border="1">
    <thead>
    <tr>
        <th>序号</th>
        <th>id</th>
        <th>名字</th>
        <th>操作</th>
    </tr>
    </thead>
    <tbody>
    {% for i in all_info %}
        <tr>
            <td>{{ forloop.counter }}</td>
            <td>{{ i.id }}</td>
            <td>{{ i.name }}</td>
            <td>
                <button><a href="/del_publisher/?pk={{ i.id }}" style="text-decoration:none;color: black">删除</a>
                </button>
                <button><a href="/edit_publisher/?pk={{ i.id }}" style="text-decoration:none;color: black">修改</a></button>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>

<button><a href="/add_publisher" style="text-decoration:none;color: black">新增</a></button>
</body>
</html>