<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'pligins/bootstrap-3.3.7-dist/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static "css/dashboard.css" %}">
    {% block css %}
        {#        css的模块替换#}
    {% endblock %}
</head>
<body>

{% include 'nav.html' %}

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
            <ul class="nav nav-sidebar">
                <li class="{% block pub_active %}active{% endblock %}"><a href="/publisher/">出版社 <span class="sr-only">(current)</span></a>
                </li>
                <li class="{% block book_active %}{% endblock %}"><a href="/book_list/">书籍</a></li>
                <li class="{% block author_active %}{% endblock %}"><a href="/author_list/">作者</a></li>

            </ul>
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            {% block main %}
                <h2 class="sub-header">出版社列表</h2>
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>序号</th>
                            <th>id</th>
                            <th>名字</th>
                            <th>操作</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for i in all_info %}
                            <tr>
                                <td>{{ forloop.counter }}</td>
                                <td>{{ i.id }}</td>
                                <td>{{ i.name }}</td>
                                <td>
                                    <a class="btn btn-danger btn-sm" href="/del_publisher/?pk={{ i.id }}"
                                       style="text-decoration:none;color: black">删除</a>
                                    <a class="btn btn-primary btn-sm" href="/edit_publisher/{{ i.id }}"
                                       style="text-decoration:none;color: black">修改</a>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    {#                    <-- 分页开始 --!>#}
                    {% load mytags %}
                    {% pagination 10 %}
                    {#                    <-- 分页结束 --!>#}
                    <button><a href="/add_publisher" style="text-decoration:none;color: black">新增</a></button>
                </div>
            {% endblock %}
        </div>
    </div>
</div>
</body>
</html>